services:
  startpage:
    container_name: startpage
    # adding digest for projects that receive regular security updates outside of major/minor/patch version bumps
    image: loganmarchione/docker-php-startpage:0.9.11@sha256:68e386e268d6b92400f26b65c07da13c967aec7b41dc0a9ad612676435ce5e49
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - 'user_includes:/var/www/html/user_includes'
    labels:
      - traefik.enable=true
      - traefik.http.routers.startpage.rule=Host(`startpage.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.startpage.tls=true
      - traefik.http.routers.startpage.tls.certresolver=cloudflare
      - traefik.http.routers.startpage.entrypoints=websecure
      - traefik.http.services.startpage.loadbalancer.server.port=80

networks:
  proxy:
    external: true

volumes:
  user_includes:
    driver: local
