services:
  startpage:
    container_name: startpage
    # adding digest for projects that receive regular security updates outside of major/minor/patch version bumps
    image: loganmarchione/docker-php-startpage:0.9.11@sha256:28f51a1a6d9aedc978a21522bde6c7c77a25ab3d801dfb6dda790c681bed02ae
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - 'user_includes:/var/www/html/user_includes'
    labels:
      - traefik.enable=true
      - traefik.http.routers.startpage.rule=Host(`startpage.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.startpage.tls=true
      - traefik.http.routers.startpage.tls.certresolver=cloudflare
      - traefik.http.routers.startpage.entrypoints=websecure
      - traefik.http.services.startpage.loadbalancer.server.port=80

networks:
  proxy:
    external: true

volumes:
  user_includes:
    driver: local
