services:
  postgres:
    container_name: forgejo-postgres
    image: postgres:17.7-alpine@sha256:9a78577340f3d26384b6aebeb475c0d46d664fd4ffa68503b4be4e4462745f94
    restart: unless-stopped
    environment:
      - TZ=UTC
    env_file:
      - /custom/files/forgejo.env
    networks:
      - forgejo
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "forgejo"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  forgejo:
    container_name: forgejo
    image: codeberg.org/forgejo/forgejo:13.0.2-rootless@sha256:a704cc203d78a854e0887e08fcbd7a45f9bc2b5fd8551c88b914b044792c4b1b
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/forgejo.env
    networks:
      - forgejo
      - proxy
    depends_on:
      - postgres
    volumes:
      - 'forgejo_config:/etc/gitea'
      - 'forgejo_data:/var/lib/gitea'
    labels:
      - traefik.enable=true
      - traefik.http.routers.forgejo.rule=Host(`forgejo.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.forgejo.tls=true
      - traefik.http.routers.forgejo.tls.certresolver=cloudflare
      - traefik.http.routers.forgejo.entrypoints=websecure
      - traefik.http.services.forgejo.loadbalancer.server.port=3000

networks:
  forgejo:
  proxy:
    external: true

volumes:
  forgejo_config:
    driver: local
  forgejo_data:
    driver: local
  postgres_data:
    driver: local
