services:
  gitea:
    container_name: gitea
    image: gitea/gitea:1.25.4@sha256:17d18218be2dad1f8ed402a4f906989505c90ab8b66ee9befcecfb5d470133e7
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - USER_UID=5000
      - USER_GID=5000
    networks:
      - proxy
    volumes:
      - 'gitea_new_data:/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.git.rule=Host(`git.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.git.tls=true
      - traefik.http.routers.git.tls.certresolver=cloudflare
      - traefik.http.routers.git.entrypoints=websecure
      - traefik.http.services.git.loadbalancer.server.port=3000
  gitea-runner:
    container_name: gitea-runner
    image: gitea/act_runner:0.2.13@sha256:8477d5b61b655caad4449888bae39f1f34bebd27db56cb15a62dccb3dcf3a944
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - CONFIG_FILE=/gitea_runner_config/config.yaml
      - GITEA_INSTANCE_URL=https://gitea.${SECRET_INTERNAL_DOMAIN_NAME}
      - GITEA_RUNNER_NAME=runner1
    env_file:
      - /custom/files/gitea_runner.env
    networks:
      - proxy
    depends_on:
      - gitea
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'gitea_runner_data:/data'
      - 'gitea_runner_config:/gitea_runner_config'

networks:
  proxy:
    external: true

volumes:
  gitea_new_data:
    driver: local
  gitea_runner_config:
    driver: local
  gitea_runner_data:
    driver: local
