services:
  gitea:
    container_name: gitea
    image: gitea/gitea:1.25.1@sha256:b3aee0f6fa4ff3271180a2388bb796be5cced8828685b968a310d70e881fcbb3
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - USER_UID=5000
      - USER_GID=5000
    networks:
      - proxy
    volumes:
      - 'gitea_new_data:/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.git.rule=Host(`git.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.git.tls=true
      - traefik.http.routers.git.tls.certresolver=cloudflare
      - traefik.http.routers.git.entrypoints=websecure
      - traefik.http.services.git.loadbalancer.server.port=3000
  drone:
    container_name: drone
    image: drone/drone:2.26.0@sha256:e91d56c5368fae936be21d779c11e82e85ada2cf769290b3e9e3aca1b75d3d73
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/drone.env
    networks:
      - proxy
    volumes:
      - 'drone_data:/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.drone.rule=Host(`drone.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.drone.tls=true
      - traefik.http.routers.drone.tls.certresolver=cloudflare
      - traefik.http.routers.drone.entrypoints=websecure
      - traefik.http.services.drone.loadbalancer.server.port=80
  drone-runner:
    container_name: drone-runner
    image: drone/drone-runner-docker:1.8.4@sha256:9cbd70a393ebeb4f9eb5b4877bcf8b1be04fb42bdd174ded32c4d1d48da72a5e
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/drone.env
    networks:
      - proxy
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'

networks:
  proxy:
    external: true

volumes:
  gitea_new_data:
    driver: local
  drone_data:
    driver: local
