services:
  navidrome:
    container_name: navidrome
    image: ghcr.io/navidrome/navidrome:0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/navidrome.env
    networks:
      - navidrome
      - proxy
    volumes:
      - 'navidrome_data:/data'
      - '/custom_mounts/media/library/iTunes/Playlist:/music:ro'
    labels:
      - traefik.enable=true
      - traefik.http.routers.navidrome.rule=Host(`navidrome.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.navidrome.tls=true
      - traefik.http.routers.navidrome.tls.certresolver=cloudflare
      - traefik.http.routers.navidrome.entrypoints=websecure
      - traefik.http.services.navidrome.loadbalancer.server.port=4533
  feishin:
    container_name: feishin
    image: ghcr.io/jeffvli/feishin:1.3.0@sha256:e27f26640c615bfcc20dd3beed22738c4ce6f93a0e7ac3f0894beff430a3e5a1
    restart: unless-stopped
    environment:
      - SERVER_NAME=navidrome
      - SERVER_LOCK=true
      - SERVER_TYPE=navidrome
      - SERVER_URL=https://navidrome.${SECRET_INTERNAL_DOMAIN_NAME}
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    networks:
      - navidrome
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.feishin.rule=Host(`feishin.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.feishin.tls=true
      - traefik.http.routers.feishin.tls.certresolver=cloudflare
      - traefik.http.routers.feishin.entrypoints=websecure
      - traefik.http.services.feishin.loadbalancer.server.port=9180

networks:
  navidrome:
  proxy:
    external: true

volumes:
  navidrome_data:
    driver: local
