services:
  navidrome:
    container_name: navidrome
    image: ghcr.io/navidrome/navidrome:0.60.0@sha256:5d0f6ab343397c043c7063db14ae10e4e3980e54ae7388031cbce47e84af6657
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/navidrome.env
    networks:
      - navidrome
      - proxy
    volumes:
      - 'navidrome_data:/data'
      - '/custom_mounts/media/library/Music:/music:ro'
    labels:
      - traefik.enable=true
      - traefik.http.routers.navidrome.rule=Host(`navidrome.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.navidrome.tls=true
      - traefik.http.routers.navidrome.tls.certresolver=cloudflare
      - traefik.http.routers.navidrome.entrypoints=websecure
      - traefik.http.services.navidrome.loadbalancer.server.port=4533
  feishin:
    container_name: feishin
    image: ghcr.io/jeffvli/feishin:1.4.2@sha256:d4f2bea6c56749c141dbf636cf8820319a2fe1c89e1bc7ba412d2ec288179c1c
    restart: unless-stopped
    environment:
      - ANALYTICS_DISABLED=true
      - SERVER_NAME=navidrome
      - SERVER_LOCK=true
      - SERVER_TYPE=navidrome
      - SERVER_URL=https://navidrome.${SECRET_INTERNAL_DOMAIN_NAME}
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    networks:
      - navidrome
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.feishin.rule=Host(`feishin.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.feishin.tls=true
      - traefik.http.routers.feishin.tls.certresolver=cloudflare
      - traefik.http.routers.feishin.entrypoints=websecure
      - traefik.http.services.feishin.loadbalancer.server.port=9180

networks:
  navidrome:
  proxy:
    external: true

volumes:
  navidrome_data:
    driver: local
