services:
  dokuwiki:
    container_name: dokuwiki
    image: php:8.3-apache-bookworm@sha256:746b4a1b0f691344327fa45b608325879f404712cfa7d4e61ed5ebe89d91769c
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    networks:
      - proxy
    volumes:
      - 'dokuwiki_config:/var/www/html'
      - 'php_config:/usr/local/etc/php'
    labels:
      - traefik.enable=true
      - traefik.http.routers.wiki.rule=Host(`wiki.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.wiki.tls=true
      - traefik.http.routers.wiki.tls.certresolver=cloudflare
      - traefik.http.routers.wiki.entrypoints=websecure
      - traefik.http.services.wiki.loadbalancer.server.port=80

networks:
  proxy:
    external: true

volumes:
  dokuwiki_config:
    driver: local
  php_config:
    driver: local
