services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:2.30.0@sha256:6fbd7dc95d53c6e168ce69e760b87c334e3b9ba88bf7b8531ed5a116d5d6da03
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    networks:
      - proxy
    volumes:
      - 'audiobookshelf_config:/config'
      - 'audiobookshelf_metadata:/metadata'
      - 'audiobookshelf_audiobooks:/audiobooks'
      - '/custom_mounts/media:/custom_mounts/media:ro'
    labels:
      - traefik.enable=true
      - traefik.http.routers.audiobookshelf.rule=Host(`audiobookshelf.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.audiobookshelf.tls=true
      - traefik.http.routers.audiobookshelf.tls.certresolver=cloudflare
      - traefik.http.routers.audiobookshelf.entrypoints=websecure
      - traefik.http.services.audiobookshelf.loadbalancer.server.port=80

networks:
  proxy:
    external: true

volumes:
  audiobookshelf_config:
    driver: local
  audiobookshelf_metadata:
    driver: local
  audiobookshelf_audiobooks:
    driver: local
