services:
  tubearchivist:
    container_name: tubearchivist
    image: bbilly1/tubearchivist:v0.5.6@sha256:22698223ed524a9cdf8bbc30af87788c1100e3e8979914ce2b41747337f95055
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/tubearchivist.env
    networks:
      - proxy
      - tubearchivist
    depends_on:
      - tubearchivist-elasticsearch
      - tubearchivist-redis
    volumes:
      - 'tubearchivist_cache:/cache'
      # The directory below is huge, so storing it on the NAS
      - '/custom_mounts/media/library/YouTube:/youtube'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/health"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      - traefik.enable=true
      - traefik.http.routers.tubearchivist.rule=Host(`tubearchivist.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.tubearchivist.tls=true
      - traefik.http.routers.tubearchivist.tls.certresolver=cloudflare
      - traefik.http.routers.tubearchivist.entrypoints=websecure
      - traefik.http.services.tubearchivist.loadbalancer.server.port=8000
  tubearchivist-redis:
    container_name: tubearchivist-redis
    # adding digest for projects that receive regular security updates outside of major/minor/patch version bumps
    image: redis:8.2.1@sha256:cc2dfb8f5151da2684b4a09bd04b567f92d07591d91980eb3eca21df07e12760
    restart: unless-stopped
    networks:
      - tubearchivist
    depends_on:
      - tubearchivist-elasticsearch
    volumes:
      - 'redis_data:/data'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 3s
      retries: 3
      start_period: 30s
  tubearchivist-elasticsearch:
    container_name: tubearchivist-elasticsearch
    image: elasticsearch:8.18.5@sha256:4aa7d5e353af37bbb9a03530c1d47ee705b54efeff193969afa90f09113dfb5a
    restart: unless-stopped
    environment:
      - TZ=UTC
    env_file:
      - /custom/files/tubearchivist.env
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - tubearchivist
    volumes:
      - 'elasticsearch_data:/usr/share/elasticsearch/data'
    healthcheck:
      test: ["CMD-SHELL", "curl -s -f -u elastic:$${ELASTIC_PASSWORD} http://localhost:9200/_cluster/health?pretty | grep -q '\"status\" : \"green\"\\|\"status\" : \"yellow\"'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  tubearchivist:
  proxy:
    external: true

volumes:
  tubearchivist_cache:
    driver: local
  redis_data:
    driver: local
  elasticsearch_data:
    driver: local
