services:
  kiwix:
    container_name: kiwix
    image: ghcr.io/kiwix/kiwix-serve:3.8.0@sha256:6e3eece55aadd72dd359c4368cd36638787f4e3fe095acbd61ef8ddede5422c3
    command:
      - '*.zim'
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    networks:
      - proxy
    volumes:
      - '/custom_mounts/media_nc/library/Kiwix:/data:ro'
    labels:
      - traefik.enable=true
      - traefik.http.routers.kiwix.rule=Host(`kiwix.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.kiwix.tls=true
      - traefik.http.routers.kiwix.tls.certresolver=cloudflare
      - traefik.http.routers.kiwix.entrypoints=websecure
      - traefik.http.services.kiwix.loadbalancer.server.port=8080

networks:
  proxy:
    external: true
