services:
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/jellyfin/jellyfin:10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    group_add:
      - '106'  # This needs to be the group id of running `stat -c '%g' /dev/dri/renderD128` on the docker host
    networks:
      - jellyfin
      - proxy
    volumes:
      - 'jellyfin_config:/config'
      - 'jellyfin_cache:/cache'
      - '/custom_mounts/media:/custom_mounts/media:ro'
      - '/custom_mounts/media_nc:/custom_mounts/media_nc:ro'
    devices:
      - '/dev/dri/:/dev/dri/'
      - '/dev/dri/renderD128:/dev/dri/renderD128'
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin.tls=true
      - traefik.http.routers.jellyfin.tls.certresolver=cloudflare
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
  jellyfin-vue:
    container_name: jellyfin-vue
    image: ghcr.io/jellyfin/jellyfin-vue:unstable.2026-02-22.e57456a@sha256:316b1f18cdeb98405780ec9b4c122b51281c63837147bb99ba1bce7c718ba390
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - DEFAULT_SERVERS=https://jellyfin.${SECRET_INTERNAL_DOMAIN_NAME}
    networks:
      - jellyfin
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin-vue.rule=Host(`jellyfin-vue.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin-vue.tls=true
      - traefik.http.routers.jellyfin-vue.tls.certresolver=cloudflare
      - traefik.http.routers.jellyfin-vue.entrypoints=websecure
      - traefik.http.services.jellyfin-vue.loadbalancer.server.port=80

networks:
  jellyfin:
  proxy:
    external: true

volumes:
  jellyfin_config:
    driver: local
  jellyfin_cache:
    driver: local
