services:
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/jellyfin/jellyfin:10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    group_add:
      - '106'  # This needs to be the group id of running `stat -c '%g' /dev/dri/renderD128` on the docker host
    networks:
      - jellyfin
      - proxy
    volumes:
      - 'jellyfin_config:/config'
      - 'jellyfin_cache:/cache'
      - '/custom_mounts/media:/custom_mounts/media:ro'
      - '/custom_mounts/media_nc:/custom_mounts/media_nc:ro'
    devices:
      - '/dev/dri/:/dev/dri/'
      - '/dev/dri/renderD128:/dev/dri/renderD128'
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin.tls=true
      - traefik.http.routers.jellyfin.tls.certresolver=cloudflare
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
  jellyfin-vue:
    container_name: jellyfin-vue
    image: ghcr.io/jellyfin/jellyfin-vue:unstable.2025-12-19.ad195e2@sha256:e73edd4dfc2e4028e83a0638cf6cf207a8edbdb4ec8d1231f7efef08658a6fd7
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - DEFAULT_SERVERS=https://jellyfin.${SECRET_INTERNAL_DOMAIN_NAME}
    networks:
      - jellyfin
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin-vue.rule=Host(`jellyfin-vue.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin-vue.tls=true
      - traefik.http.routers.jellyfin-vue.tls.certresolver=cloudflare
      - traefik.http.routers.jellyfin-vue.entrypoints=websecure
      - traefik.http.services.jellyfin-vue.loadbalancer.server.port=80

networks:
  jellyfin:
  proxy:
    external: true

volumes:
  jellyfin_config:
    driver: local
  jellyfin_cache:
    driver: local
