services:
  webdav:
    container_name: webdav
    image: loganmarchione/docker-webdav-nginx:1.1.0@sha256:583529ecaf172d4d15101867091d46c52b590cf6a0779047b8dd037ac587eb36
    restart: unless-stopped
    env_file:
      - /custom/files/webdav.env
    networks:
      - proxy
    volumes:
      - 'webdav:/var/www/webdav'
    labels:
      - traefik.enable=true
      - traefik.http.routers.webdav.rule=Host(`webdav.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.webdav.tls=true
      - traefik.http.routers.webdav.tls.certresolver=cloudflare
      - traefik.http.routers.webdav.entrypoints=websecure
      - traefik.http.services.webdav.loadbalancer.server.port=80

networks:
  proxy:
    external: true

volumes:
  webdav:
    driver: local
