services:
  planka:
    container_name: planka
    image: ghcr.io/plankanban/planka:2.0.2@sha256:2a3f6e088115ed5948764d5cd67a1b2441f72da780973673f4805db3132c635d
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/planka.env
    networks:
      - proxy
    volumes:
      - 'planka_data:/app/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.planka.rule=Host(`planka.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.planka.tls=true
      - traefik.http.routers.planka.tls.certresolver=cloudflare
      - traefik.http.routers.planka.entrypoints=websecure
      - traefik.http.services.planka.loadbalancer.server.port=1337

networks:
  proxy:
    external: true

volumes:
  planka_data:
    driver: local
