services:
  planka:
    container_name: planka
    image: ghcr.io/plankanban/planka:2.0.1@sha256:0d28490e5a32c0e185431cfbdf7e861b0a62ebb58b94c69dd1fc0d7e7f261670
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/planka.env
    networks:
      - proxy
    volumes:
      - 'planka_user_avatars:/app/public/user-avatars'
      - 'planka_project_background_images:/app/public/project-background-images'
      - 'planka_attachments:/app/private/attachments'
    labels:
      - traefik.enable=true
      - traefik.http.routers.planka.rule=Host(`planka.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.planka.tls=true
      - traefik.http.routers.planka.tls.certresolver=cloudflare
      - traefik.http.routers.planka.entrypoints=websecure
      - traefik.http.services.planka.loadbalancer.server.port=1337

networks:
  proxy:
    external: true

volumes:
  planka_user_avatars:
    driver: local
  planka_project_background_images:
    driver: local
  planka_attachments:
    driver: local
