services:
  mealie:
    container_name: mealie
    image: ghcr.io/mealie-recipes/mealie:v3.8.0@sha256:8cb354ce7b9e73304c0f3dedf13b7fe8ffe2f25775c9bbe79b5c446ef0334fd6
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/mealie.env
    networks:
      - proxy
    volumes:
      - 'mealie_data:/app/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.mealie.rule=Host(`recipes.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.mealie.tls=true
      - traefik.http.routers.mealie.tls.certresolver=cloudflare
      - traefik.http.routers.mealie.entrypoints=websecure
      - traefik.http.services.mealie.loadbalancer.server.port=9000

networks:
  proxy:
    external: true

volumes:
  mealie_data:
    driver: local
