services:
  mealie:
    container_name: mealie
    image: ghcr.io/mealie-recipes/mealie:v3.1.1@sha256:c15f70d7f301145ffa49c988db33071a4585fabf214c2da08bc2cd62737043c8
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    env_file:
      - /custom/files/mealie.env
    networks:
      - proxy
    volumes:
      - 'mealie_data:/app/data'
    labels:
      - traefik.enable=true
      - traefik.http.routers.mealie.rule=Host(`recipes.${SECRET_INTERNAL_DOMAIN_NAME}`)
      - traefik.http.routers.mealie.tls=true
      - traefik.http.routers.mealie.tls.certresolver=cloudflare
      - traefik.http.routers.mealie.entrypoints=websecure
      - traefik.http.services.mealie.loadbalancer.server.port=9000

networks:
  proxy:
    external: true

volumes:
  mealie_data:
    driver: local
